@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav,
output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {display:block;}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {display:none;}
body {line-height:1;}
menu, ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
table {border-collapse:collapse;border-spacing:0;}
input, select, textarea {cursor:pointer;}
button {border:0;padding:0;margin:0;cursor:pointer;}

/* common */
body {margin:0;padding:0;display:flex;justify-content:center;align-items:center;font-family:"Nanum Pen Script",cursive;min-height:100vh;background-color:#f6f6f6;}
div, p, span, em, li, form, label, table, caption, thead, tbody, tfoot, input, select, option, button, textarea { font-family:"Nanum Pen Script",cursive; }
*:focus { outline-color:#000; }

#root {background-color:#fff;box-shadow:rgba(100,100,111,0.2) 0 7px 29px 0;}
.App {min-height:100vh;padding:0 20px;}

@media screen and (min-width:650px) {
  .App {width:640px;}
}

@media screen and (max-width:650px) {
  .App {width:90vw;}
}

/* Header */
header {display:flex;align-items:center;padding:20px 0;margin:0;border-bottom:1px solid #e2e2e2;}
header > div {display:flex;}
header .head_text {justify-content:center;width:50%;font-size:24px;}
header .head_btn_left {justify-content:start;width:25%;}
header .head_btn_right {justify-content:end;width:25%;}

/* MyButton */
.MyButton {padding:10px 20px;border:0;border-radius:4px;font-size:18px;white-space:nowrap;}
.MyButton_default {background-color:#ececec;color:#000;}
.MyButton_positive {background-color:#64c964;color:#FFF;}
.MyButton_negative {background-color:#fd565f;color:#FFF;}

/* DiaryList */
.DiaryList { padding:20px 0 0 0; }
.DiaryList .menuWrapper { display:flex;justify-content:space-between;margin:20px 0 30px 0;padding:0;}
.DiaryList .ControlMenu { margin:0 10px 0 0;padding:9px 20px;border:none;border-radius:5px;background-color:#ececec;font-size:18px; }
.DiaryList .menuWrapper .rightCol { flex-grow:1; }
.DiaryList .menuWrapper .rightCol button { width:100%; }
@media screen and (max-width:384px) {
  .DiaryList .ControlMenu { padding:9px 4px; }
}

/* DiaryItem */
.DiaryItem { display:flex;justify-content:space-between;margin:0;padding:15px 0;border-bottom:1px solid #e2e2e2; }
.DiaryItem .emotionImgWrapper { display:flex;justify-content:center;min-width:120px;height:80px; cursor:pointer;border-radius:8px; }
@media screen and (max-width:384px) {
  .DiaryItem .emotionImgWrapper { min-width:72px; }
}
.DiaryItem .emotionImgWrapper img { width:50%; }
.DiaryItem .emotionImgWrapper1 { background-color:#64c964; }
.DiaryItem .emotionImgWrapper2 { background-color:#9dd772; }
.DiaryItem .emotionImgWrapper3 { background-color:#fdce17; }
.DiaryItem .emotionImgWrapper4 { background-color:#fd8446; }
.DiaryItem .emotionImgWrapper5 { background-color:#fd565f; }
.DiaryItem .infoWrapper { margin:0 20px;padding:0;flex-grow:1;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.DiaryItem .infoWrapper .DiaryDate { margin-bottom:4px;font-weight:600;font-size:24px; }
.DiaryItem .infoWrapper .DiaryContentPreview { font-size:18px; }
.DiaryItem .btnWrapper { display:flex;align-items:center; /* min-width:70px; */ }

/* DiaryEditor */
.DiaryEditor { position:relative; }
.DiaryEditor section { margin:0 0 40px 0; }
.DiaryEditor h4 { padding:24px 0 16px;font-size:22px;font-weight:600; }
.DiaryEditor .inputBox { position:relative; }
.DiaryEditor .inputDate { margin:0 10px 0 0;padding:9px 20px;border:none;border-radius:5px;background-color:#ececec;font-size:18px; }
.DiaryEditor .emotionListWrapper { display:grid;grid-template-columns:repeat(5, auto);gap:2%; }

/* textWrapper */
.DiaryEditor textarea { padding:20px 16px;font-size:18px;box-sizing:border-box;width:100%;min-height:200px;resize:vertical;border-radius:5px;background-color:#ececec;border:none; }
.DiaryEditor textarea:focus { background-color:#fff;border:1px solid #ececec; }

/* controlBox */
.DiaryEditor .controlBox { display:flex;justify-content:space-between;align-items:center; }

/* EmotionItem */
.EmotionItem { cursor:pointer;border-radius:5px;padding:20px 0;display:flex;flex-direction:column;justify-content:center;align-items:center; }
.EmotionItem img { width:50%; }
.EmotionItem span { display:inline-block;margin-top:12px;font-size:16gpx; }

/* EmotionItem On/Off */
.EmotionItem_off { background-color:#ececec; }
.EmotionItem_on1 { background-color:#64c964;color:#fff; }
.EmotionItem_on2 { background-color:#9dd772;color:#fff; }
.EmotionItem_on3 { background-color:#fdce17;color:#fff; }
.EmotionItem_on4 { background-color:#fd8446;color:#fff; }
.EmotionItem_on5 { background-color:#fd565f;color:#fff; }

/* Diary */
.DiaryPage section { width:100%;display:flex;flex-direction:column;align-items:center;text-align:center; }
.DiaryPage h4 { padding:24px 0 16px;font-size:22px;font-weight:600; }
.DiaryPage .diaryImgWrapper { width:250px;height:250px;border-radius:5px;display:flex;flex-direction:column;align-items:center;justify-content:space-around;background-color:#ececec; }
.DiaryPage .diaryImgWrapper1 { background-color:#64c964;color:#fff; }
.DiaryPage .diaryImgWrapper2 { background-color:#9dd772;color:#fff; }
.DiaryPage .diaryImgWrapper3 { background-color:#fdce17;color:#fff; }
.DiaryPage .diaryImgWrapper4 { background-color:#fd8446;color:#fff; }
.DiaryPage .diaryImgWrapper5 { background-color:#fd565f;color:#fff; }
.DiaryPage .diaryImgWrapper .emotionDesc { display:block;font-size:20px; }

/* Diary Content */
.DiaryPage .diaryContentWrapper { width:100%;background-color:#ececec;border-radius:5px;word-break:keep-all;overflow-wrap:break-word; }
.DiaryPage .diaryContentWrapper p { padding:16px 20px;text-align:left;font-family:'Yeon Sung', cursive;font-size:18px;font-weight:400;line-height:1.4; }


